{% extends 'layout.twig' %}

{% block title %}"Gestion des articles"{% endblock %}

{% block content %}

    <a href="{{ path("postCreate") }}" type="button" class="btn btn-primary">Ajouter un article</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Titre</th>
                    <th>Date d'ajout</th>
                    <th>Dernière modification</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in listePosts %}
                    <tr>
                        <td>{{post.auteur}}</td>
                        <td>{{post.titre}}</td>
                        <td>{{post.dateCreation | format_datetime(locale='fr',pattern="'le' d MMMM yyyy 'à' H'h'm")}}</td>
                        <td>{{post.dateModif | format_datetime(locale='fr',pattern="'le' d MMMM yyyy 'à' H'h'm")}}</td>
                        <td>
                            <a href="{{ path("postUpdate", {id:post.id}) }}"><img src="/assets/img/admin/update.png" alt="Modifier"/></a>
                            <a href="{{ path("postDelete", {id:post.id}) }}"><img src="/assets/img/admin/delete.png" alt="Supprimer"/></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
	{{ paginate(listePosts, 'indexPage') }}

{% endblock %}
